[ req ]
default_bits = 2048
prompt = no
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
C = IN
ST = Telangana
L = IIT H
O = CSE
CN = alice1.com

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = alice1.com
DNS.2 = www.alice1.com
